# System files
.DS_Store
Thumbs.db
desktop,ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
Logs
*.log
npm-debug.log*

#Dependency directories (for future use if we add JavaScript libraries)
node_modules/
jpsm_packages/

# Build outputs (if you eventually compile your site)
dist/
build/